<%- include('partials/_header')-%>

<div class="container">
    <h1 class="title">Houston, we have a problem.</h1>
    <div class="girl-bro">
      <img src="/images/500.png" alt="">
    </div>
  </div>